$MOBILE : "576px";
$TABLET : "992px";
$DESKTOP : "1200px";
$MENU : $TABLET;
$COULEUR : #0000FF;
$COULEURFONCE : darken($COULEUR, 40%);
$COULEURCLAIR : lighten($COULEUR, 25%);

body{
  background-size: cover;
}

.centrertout{
  color: $COULEURFONCE;
  font-size: 3em;
  height: 100vh;
  @extend %flex_center;
}